* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-color: #F3D7B7;
    height: 80px;
    padding: 22px;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ok {
    width: 227px;
    height: 24px;
}

.header-1 ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;


}

.m {
    color: #333333;
}

.m:hover {
    color: red;
    cursor: pointer;
}


.header-1 a {
    color: #333333;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    font-variant: small-caps;

}

.section-one {
    background-color: #F3D7B7;
    display: flex;
    align-items: center;
    gap: 304px;
}

.kiyik {
    width: 160.82601522975528px;
}

.section-one-left {
    padding-top: 135px;
    margin-left: 50px;
}

.section-one-right {
    display: flex;
    flex-direction: column;

}

.h1 {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;

}

.section-one-p {
    width: 372px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    margin-top: 74px;
    margin-bottom: 295px;
}

.coffee {
    transform: translateY(-90px) translateX(35px);
    z-index: 0;
}

.kiyik {
    z-index: 1;
    transform: translateX(-25px);
    animation: kiyik 4s infinite linear;
}

.section-two-p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    width: 646.3881225585938px;
    margin-top: 64px;
}

.section-two {
    display: flex;
    gap: 318px;
    height: 740.0004272460938px;
    padding-top: 160px;
}

.k {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    font-variant: small-caps;

}

.section-three {
    height: 510px;
    background-color: #C99B67;
    display: flex;
    justify-content: space-between;

}

.j {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0px;
    font-variant: small-caps;
    color: white;
    width: 397px;
    margin-top: 109px;
    margin-bottom: 28px;
}

.wa {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 639px;
}

.section-three-left {
    margin-left: 50px;
}

.xodim {
    transform: translateX(-40px) translateY(-170px);
}

.ij {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
}
.footer{
    display: flex;
    justify-content: space-between;
    height: 160px;
    background-color: #F3D7B7;
    align-items: center;
}
.texts{
    display: flex;
    gap: 40px;
}
.ik{
    height: 24px;
}
.imgs{
    display: flex;
    gap: 20px;
    margin-right: 54px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
}







@keyframes kiyik {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }

}